body {
    padding: 0;
    margin: 0;
    color: #24292e;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Microsoft YaHei','SF Pro Display',Roboto,Noto,Arial,'PingFang SC',sans-serif;
}
* {
    box-sizing: border-box;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    border: 1px solid #E0E0E0;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
}
th, td {
    line-height: 20px;
    padding: 6px 3px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #E0E0E0;
}
th {
    background-color: #F7F7F7;
}
.title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    line-height: 46px;
}
