/* 基础样式 */
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333333;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-sizing: border-box;
    font-family: 'Microsoft YaHei','SF Pro Display',Roboto,Noto,Arial,'PingFang SC',sans-serif;
}
a {
    color: #333333;
    text-decoration: none;
}
label {
    cursor: auto;
}
/* 菜单栏样式 */
.activity {
    color: #ea6f5a;
    background-color: antiquewhite;
}
.navbar {
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #ffffff;
    border-bottom: 1px solid #f0f0f0;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    zoom: 1;
    display: block;
}
.con1 {
    float: left;
    margin: 0 10px;
}
.con1 a {
    font-size: 23px;
    font-weight: 600;
    color: #ea6f5a;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.con2 {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}
.con2 li {
    float: left;
}
.con2 li a {
    line-height: 50px;
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
}
.con2 li a:hover {
    color: #ea6f5a;
}
.con3 {
    float: right;
    text-align: center;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.con3 a {
    line-height: 50px;
    display: inline-block;
    padding: 0 6px;
}
.con3:hover a {
    color: #666666;
    text-decoration: none;
}
.con3 img {
    width: 28px;
    height: 28px;
    border-radius: 14px;
}
.con3 ul {
    display: none;
    list-style: none;
    margin-top: 1px;
    background-color: #FFFFFF;
    border: 1px solid #ebebeb;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.12);;
}
.con3 ul li a {
    line-height: 35px;
}
.con3 ul li a:hover {
    color: #ea6f5a;
    text-decoration: none;
}
/* 中部样式 */
.main {
    width: 1100px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    overflow: hidden;
    padding: 0 15px;
}
/* 底部样式 */
.footer {
    width: 100%;
    height: 220px;
    background: #30383d !important;
    position: inherit;
}
.footerCont {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    zoom: 1;
    display: block;
    padding: 0;
    background: #30383d !important;
}
.customer {
    color: #ffffff;
    padding-left: 56px;
    padding-right: 48px;
    padding-bottom: 29px;
    margin: 40px 0 37px;
    float: left;
    background: url("/image/sys/customer.png") no-repeat left 6px;
}
.customer span {
    display: block;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.hyperlink {
    display: block;
    padding: 0;
}
.linkgroup {
    margin-left: 0;
    width: inherit;
    padding: 40px 62px 40px 0;
    float: left;
}
.linkgroup span {
    color: #ffffff;
    margin-bottom: 13px;
    display: block;
    line-height: 24px;
    font-size: 12px;
}
.linkgroup a {
    color: #9ca2a4;
    display: block;
    line-height: 24px;
    font-size: 12px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.smcodediv {
    text-align: center;
    margin-right: 30px;
    width: inherit;
    padding: 40px 0;
    float: right;
}
.smcodediv img {
    width: 96px;
    height: 96px;
    vertical-align: top;
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}
.smcodediv span {
    width: 96px;
    font-size: 12px;
    color: #ffffff;
    line-height: 16px;
    display: block;
    margin-top: 5px;
}
.footerbottom {
    color: #a6a7ab;
    width: 100%;
    font-size: 12px;
    padding: 0;
    background-color: #282828;
    position: absolute;
}
.fixedWid {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #282828;
}
.fixedWid p {
    text-align: center;
    font-size: 12px;
}
.fixedWid a {
    color: #a6a7ab;
    text-decoration: underline;
}
/* 404 500 */
.error {
    margin-top: 120px;
}
.error p:first-child {
    text-align: center;
    font-family: cursive;
    font-size: 120px;
    font-weight: bold;
    color: #fff;
}
.error p:first-child span {
    cursor: pointer;
    text-shadow: 0 0 2px #686868,
    0 1px 1px #ddd,
    0 2px 1px #d6d6d6,
    0 3px 1px #ccc,
    0 4px 1px #c5c5c5,
    0 5px 1px #c1c1c1,
    0 6px 1px #bbb,
    0 7px 1px #777,
    0 8px 3px rgba(100, 100, 100, 0.4),
    0 9px 5px rgba(100, 100, 100, 0.1),
    0 10px 7px rgba(100, 100, 100, 0.15),
    0 11px 9px rgba(100, 100, 100, 0.2),
    0 12px 11px rgba(100, 100, 100, 0.25),
    0 13px 15px rgba(100, 100, 100, 0.3);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
.error p:first-child span:hover {
    text-shadow: 0 0 2px #686868,
    0 1px 1px #fff,
    0 2px 1px #fff,
    0 3px 1px #fff,
    0 4px 1px #fff,
    0 5px 1px #fff,
    0 6px 1px #fff,
    0 7px 1px #777,
    0 8px 3px #fff,
    0 9px 5px #fff,
    0 10px 7px #fff,
    0 11px 9px #fff,
    0 12px 11px #fff,
    0 13px 15px #fff;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
.error p:not(:first-child) {
    text-align: center;
    color: #666;
    font-family: cursive;
    font-size: 20px;
    text-shadow: 0 1px 0 #fff;
    letter-spacing: 1px;
    line-height: 2em;
    margin-top: -50px;
}
/* 快递申请 */
.info-box {
    background: #ffffff;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
    position: relative;
}
.info-title {
    text-indent: 40px;
    font-size: 18px;
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
}
.info-content {
    margin: 0 auto;
    padding: 0 50px;
    position: relative;
}
.info-form {

}
.item-name {
    position: relative;
    display: inline-block;
    line-height: 50px;
}
.form-item label {
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: right;
    font-size: 13px;
    color: #333;
}
.form-item input {
    width: 180px;
    border: 1px solid #cacaca;
    border-radius: 2px;
    padding-left: 10px;
    height: 35px;
    box-sizing: border-box;
    outline: none;
    font: 12px/1 "Microsoft YaHei", Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
.item-phone {
    display: block;
    line-height: 50px;
}
.item-addr {
    position: relative;
    line-height: 50px;
}
.item-addr input {
    width: 500px;
}
.btn-submit-order {
    width: 180px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto 30px;
    text-align: center;
    color: #ffffff;
    background-color: #f65e62;
    cursor: pointer;
}
.btn-submit-order:hover {
    background-color: #f67d7c;
}
.express-code {
    width: 220px;
    color: #7d7d7d;
    line-height: 20px;
    float: left;
    margin-top: 20px;
    border: 1px solid #dddddd;
    padding: 10px;
}
.express-title {
    display: block;
    padding-left: 46px;
    font-size: 22px;
    color: #0c0c0c;
    line-height: 32px;
    position: relative;
}
.code-cont {
    width: 220px;
    text-align: center;
}
.code-cont img {
    width: 150px;
}
/* 左内容布局 */
.main-con {
    width:820px;
    float:left;
    margin-right: 30px;
}
/* 背景图片 */
.bg-img {
    position: absolute;
    left: 0;
    width: 100%;
    min-width: 1200px;
    height: 420px;
}
.bg-div {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: 470px;
    background-color: #50a4ea;
}
.bg-item {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: #3593ea;
}
.item-a {
    display: block;
    float: left;
    width: 299px;
    height: 50px;
    position: relative;
    cursor: pointer;
    padding-top: 25px;
    padding-bottom: 25px;
    border-right: 1px solid #88c1ff;
}
.item-a:hover {
    background-color: #ea6f5a;
}
.item-a div {
    width: 55px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 70px;
    margin-top: 25px;
}
.item-a span {
    display: block;
    line-height: 20px;
    color: #ffffff;
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 140px;
    margin-top: -10px;
}
.req:before {
    content: "*";
    color: #d23636;
    margin-right: 4px;
}
.h1-title {
    width: max-content;
    margin: 85px auto 10px auto;
}
.h1-title a {
    color: #ea6f5a;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}
.h1-title a {
    color: #ea6f5a;
    text-decoration: none;
}
.login {
    width: 300px;
    margin: 0 auto 100px auto;
    padding: 30px 50px;
    border: 1px solid #cecece;
    border-radius: 5px;
}
.login label {
    font-size: 17px;
    line-height: 23px;
    color: #888888;
}
.login input {
    width: 300px;
    padding: 7px;
    font-size: 16px;
    border: 1px solid #cecece;
    border-radius: 3px;
    color: #666666;
}
.btn-login {
    color: #fff;
    background-color: #ea6f5a;
    height: 36px;
    display: inline-block;
    border-radius: 3px;
    width: 140px;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    margin-top: 26px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ea6f5a;
    margin-bottom: 10px;
}
.btn-login:hover {
    color: #fff;
}
.btn-register {
    color: #ea6f5a;
    width: 140px;
    height: 36px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #ea6f5a;
    display: inline-block;
    border-radius: 3px;
    font-size: 14px;
    text-decoration: none;
    margin-left: 11px;
}
.btn-register:hover {
    color: #ea6f5a;
}
.bottom-info {
    text-align: center;
    font-size: 13px;
    color: #555;
}
.bottom-info a {
    color: #555;
}
.list span {
    font-size: 14px;
    line-height: 24px;
}
